# Postgres Configuration
DB_USER=postgres
DB_PASSWORD=

# PgAdmin Configuration
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=

# RabbitMQ Configuration
RABBITMQ_HOST=rabbitmq

# JWT Configuration
JWT_SECRET_KEY=

# SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM_ADDRESS=
SMTP_FROM_NAME=FinanceFlow

# Frontend Configuration
# Em desenvolvimento local: http://localhost:5000/api
# Em produção: https://seu-dominio.com/api
VITE_API_URL=http://localhost:5000/api
